.DrawPad {
  display: flex;
  margin: 0 auto;
  width:100%;
}

.DrawSideBar {
  display: inherit;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  background-color: lightgreen
}

#save {
  display: inherit;
  color: rgb(20, 18, 18);
  align-content: baseline;;
  flex-direction: column;

}

#edit {
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 411px){
  .DrawPad {
    display: block
  }

}