.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: rgb(204, 202, 202);
}

.Home .notes h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Home .notes p {
  color: #666;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  justify-content:stretch;
}

.list-group-item{
  width: 33.33333%;
}
.list-group-item:nth-child(odd){
  background-color: greenyellow;
}
.list-group-item:last-child{
  border-radius: 0px;
}

#new {
  flex-grow: 1;
  width: 100%;
  background-color: rgb(204, 202, 202)
}

@media screen and (max-width: 411px){
  .list-group{
    flex-direction: column;
  }
  .list-group-item {
    width: 100%
  }
}